<!DOCTYPE html>
<html>

   <head>
      <title>Account Opening Form</title>
   </head>
   <body bgcolor="skyblue">
   <center>
   <img src="logo.png" width="150px" height="150px" alt="LOGO">
   <body>
   <fieldset width="200px" height="200px">
   <legend><h1>ACCOUNT OPENING FORM</h1></legend>
   <table>
      <form method="POST" action="../Controller/AccountOpeningCheck.php" >
         <tr>
		 <td>
		 name:<input type = "text" name = "name"/><br>
		 </td>
		 </tr>
		 <tr>

		 <tr>
         <td>
		 Password: <input type = "passoword" name = "password"/><br>
		 </td>
		 </tr>
		 
		 
         
		
		 
		
		 
		
		<tr>
		 <td>
		Email: <input type="email" Name="email"/><br>
		 </td>
		 </tr>
	
		 <tr>
		 <td>
		 <input type = "submit" name = "submit" value = "Submit" />
		 </td>
		 </tr>
		 </table>
      </form>
	  </fieldset>
	  </center>
   </body>
	
</html>